<!DOCTYPE html>
<html>
  <head>
    <title>ThomasHastings.com - Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700|Roboto:400,400italic">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-LRlmVvLKVApDVGuspQFnRQJjkv0P7/YFrw84YYQtmYG4nK8c+M+NlmYDCv0rKWpG" crossorigin="anonymous">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= javascript_pack_tag 'Index' %>
  </head>

<body>
  <div class="container content">
    <header class="masthead">
      <h3 class="masthead-title">
        <a href="/" title="Home">Thomas Hastings</a>
      </h3>
      <ul class="nav">
        <li class="nav-projects" role="presentation"><a href="https://profile-summary-for-github.com/user/tghastings">Projects</a></li>
        <li class="nav-research" role="presentation"><a href="https://www.coursicle.com/uccs/professors/Thomas+Hastings/">Teaching</a></li>
        <li class="nav-about" role="presentation"><a href="https://about.me/thomashastings">About</a></li>
        <% if user_signed_in? %>
        <li>
        <%= link_to('New Post', '/post/create') %>
        </li>
        <li>
        <%= link_to('Profile', edit_user_registration_path) %>
        </li>
        <li>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>    
        </li>
      <% else %>
        <li>
        <%= link_to('Login', new_user_session_path) %>
        </li>
      <% end %>
        </ul>
    </header>

    <noscript>You need to enable JavaScript to run this app.</noscript>
    <p class="notice"><%= notice %></p>
    <p class="badMessage"><%= alert %></p>
    <div id="root"></div>
    <%= yield %>
    <footer class="footer blog-footer">
      <hr />
      <p>Made in Colorado <i class="fas fa-mountains"></i>.</p>
  </footer>
    <script>
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
          m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
      })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-2894769-2', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
